header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    background-color: rgb(83, 255, 255);
    border-color: blue;
    color: red;
    font-size: x-large;
    font-weight: bolder; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      
}
header>h1{
    text-decoration: underline;
}


#buscador {
    color: red;
    font-size: large;
    font-weight: bolder;
    padding-left: 50%;
    
}

#ciudad {
    color: blue;
    font-size: larger;
    font-weight: bolder;
}


article {
    display: flex;
    height: 80%;
    font-size: x-large;
    justify-content: center;
}

#mapa {
    width: 600px;
    height: 600px;
    background-color: aquamarine;
    padding-right: 25%;

}

#pronostico {
    width: 50%;
    background-color: rgb(167, 206, 209);
    padding-left: 25%;
}
#respuesta {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* padding-left: 5%; */
}

#respuesta>div>label ,#clima>div>label{
    font-weight: bold;
}

#respuesta>div, #clima>div{
    padding-top: 2%;
}

#buscador>label{
    color: rgb(255, 0, 0);
    font-size: xx-large;
}

#icono>img{
    width: 30%;
}

footer {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    background-color: rgb(83, 255, 255);
    border-color: blue;
    color: red;
    font-size: x-large;
    font-weight: bolder; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (max-width: 630px) {

    #mapa {
        width: 250px;
        height: 250px;
}

}